[submodule "lib/GLM"]
	path = lib/GLM
	url = https://github.com/g-truc/glm.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML.git
[submodule "lib/GLAD"]
	path = lib/GLAD
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
